---
import Layout from "../layouts/Layout.astro";

import { API_URL } from "astro:env/server";

interface Producto {
  id: number;
  name: string;
  description_short: string;
  long_description: string;
  image: Image[];
  sizes: Size[];
}

interface Image {
  image: string;
  product: string;
}

interface Size {
  id: number;
  size: string;
  price: number;
  product: string;
}
---

<Layout
  Title="Sol y Luna - Admin"
  Description="Panel de administración"
  Active="admin"
>
  <form
    class="bg-[#1c191f] flex flex-col justify-center items-center absolute top-0 left-0 w-full h-full"
    id="form"
  >
    <div
      class="z-20 flex justify-center items-center w-full h-full flex-col gap-7"
    >
      <div class="flex justify-start flex-col gap-2 w-3/4">
        <label for="name">Nombre del Producto</label>
        <input
          id="name"
          name="name"
          class="border-4 border-white w-full h-12 rounded-full neon-effect pl-2 transition-all duration-300"
          type="text"
          placeholder="Nombre del producto"
          autocomplete="off"
        />
      </div>
      <div class="flex justify-start flex-col gap-2 w-3/4">
        <label for="description_short">Descripción Corta</label>
        <input
          id="description_short"
          name="description_short"
          class="border-4 border-white w-full h-12 rounded-full neon-effect pl-2 transition-all duration-300"
          type="text"
          placeholder="Descripción corta"
        />
      </div>
      <div class="flex justify-start flex-col gap-2 w-3/4">
        <label for="long_description">Descripción Larga</label>
        <textarea
          id="long_description"
          name="long_description"
          class="border-4 border-white w-full h-24 max-h-48 rounded-2xl neon-effect p-2 transition-all duration-300"
          placeholder="Descripción larga"></textarea>
      </div>
      <div class="flex justify-start flex-col gap-2 w-3/4">
        <label for="image">Imagen</label>
        <input
          id="images"
          name="images"
          class="border-4 border-white w-full h-12 rounded-2xl neon-effect p-2 transition-all duration-300"
          type="file"
          multiple
        />
      </div>
      <div class="flex justify-start flex-col gap-2 w-3/4">
        <label for="sizes">Tallas</label>
        <textarea
          id="sizes"
          name="sizes"
          class="border-4 border-white w-full h-24 max-h-48 rounded-2xl neon-effect p-2 transition-all duration-300"
          placeholder="(S:100,M:200,L:300)"
        >
        </textarea>
      </div>
      <button
        class="border-4 p-5 flex justify-center items-center cursor-pointer mt-6 border-white w-3/4 h-12 rounded-full neon-effect bg-[#e91e63] text-white font-bold hover:bg-[#d01756]
        transition-all"
      >
        Enviar
      </button>
    </div>
  </form>
</Layout>

<script>
  const form = document.getElementById("form") as HTMLFormElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    const response = await fetch("/api/new-product", {
      method: "POST",
      body: formData,
    });

    const data = await response.json();
    console.log(data);
  });
</script>
