---
import Layout from "../layouts/Layout.astro";
---

<Layout
  Title="Sol y Luna - Contacto"
  Description="Contacto Sol y Luna"
  Active="Contacto"
>
  <section class="w-screen h-screen grid grid-cols-2 gap-2 p-5 relative">
    <form
      class="bg-[#1c191f] rounded-4xl flex flex-col justify-center items-center relative overflow-hidden"
    >
      <div
        class="z-20 flex justify-center items-center w-full h-full flex-col gap-7"
      >
        <div class="flex justify-start flex-col gap-2">
          <span>Nombre</span>
          <input
            class="border-4 border-white w-3xl h-12 rounded-full neon-effect pl-2 transition-all duration-300"
            type="text"
          />
        </div>
        <div class="flex justify-start flex-col gap-2">
          <span>Número de Telefono</span>
          <input
            class="border-4 border-white w-3xl h-12 rounded-full neon-effect pl-2 transition-all duration-300"
            type="number"
            inputmode="numeric"
          />
        </div>
        <div class="flex justify-start flex-col gap-2">
          <span>Correo</span>
          <input
            class="border-4 border-white w-3xl h-12 rounded-full neon-effect pl-2 transition-all duration-300"
            type="text"
          />
        </div>
        <button
          class="border-4 cursor-pointer mt-6 border-white w-3xl h-12 rounded-full neon-effect bg-[#e91e63] text-white font-bold hover:bg-[#d01756] transition-all"
        >
          Enviar
        </button>
      </div>
    </form>
    <nav
      class="flex justify-center items-baseline-last w-full h-full bg-[#c3a7d9] rounded-4xl p-12"
    >
      <ul class="flex justify-center items-center gap-10">
        <li>
          <a href="">
            <img class="size-36" src="/icons/Facebook.svg" />
          </a>
        </li>
        <li>
          <a href="">
            <img class="size-36" src="/icons/Instagram.svg" />
          </a>
        </li>
        <li>
          <a href="">
            <img class="size-36" src="/icons/Whatsapp.svg" />
          </a>
        </li>
      </ul>
    </nav>
  </section>
</Layout>

<style>
  form::after {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 32px;
    background-image: conic-gradient(transparent, #e91e63);
    animation: rotate 5s linear infinite;
    z-index: 2;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  form::before {
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 32px;
    background-color: #1c191f;
    position: absolute;
    z-index: 3;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .neon-effect {
    position: relative;
    box-shadow:
      0 0 10px #e91e63,
      0 0 20px #e91e63,
      0 0 30px #e91e63;
  }

  .neon-effect:focus {
    outline: none;
    box-shadow:
      0 0 15px #e91e63,
      0 0 30px #e91e63,
      0 0 45px #e91e63;
  }
</style>
