---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

export const prerender = true;
---

<Layout
  Title="Sol y Luna"
  Description="Ropa de alta calidad a toda colombia"
  Active="index"
>
  <Hero server:defer> cargando... </Hero>
  <section
    class="w-screen h-screen flex justify-start items-center bg-[url('/image.png')] bg-cover p-6 bg-fixed font-[Oxanium] tracking-wider leading-relaxed"
  >
    <p
      class="text-center w-[60vw] p-4 bg-[#44456030] rounded-[25px] backdrop-blur-2xl text-3xl font-[Oxanium] tracking-wider leading-relaxed"
    >
      Sol y Luna es una empresa que busca reflejar emoción y entusiasmo,
      hipnotizar a las personas con sus diseños, dar esa sensación de estar
      compartiendo con una marca segura y acogedora, sintiéndose identificado al
      verla.
    </p>
  </section>
  <section
    class="w-screen h-screen flex justify-center items-center bg-[url('/image-2.png')] bg-cover tracking-wider leading-relaxed"
  >
    <p
      class="text-center w-[60vw] p-4 bg-[#44456030] rounded-[25px] backdrop-blur-2xl text-3xl font-[Oxanium] tracking-wider leading-relaxed"
    >
      Buscamos asegurar calidad y exclusividad en las prendas de nuestras
      clientas, llevando a cabo un proceso desde 0, comenzando desde la idea
      hasta la producción de un producto totalmente nuevo e innovador que rompa
      con los estándares de lo cotidiano.
    </p>
  </section>
</Layout>
