---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/Forms/LoginForm";
export const prerender = true;
---

<Layout Title="Login" Description="Login to your account" Active="index">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <LoginForm client:load />
  </div>
</Layout>
