---
import Layout from "../layouts/Layout.astro";
import ListaProductos from "../components/ListaProductos.astro";
export const prerender = true;
---

<Layout
  Title="Sol y Luna - Tienda de ropa"
  Description="Productos"
  Active="Tienda"
>
  <section
    class="w-[50vw] min-h-screen flex items-center justify-center gap-4 p-4 flex-wrap"
  >
    <ListaProductos server:defer />
  </section>
</Layout>
